/node_modules
/resources/assets/sass/fonts
/public/storage
/public/hot
/public/css
/public/js
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
!.gitkeep
/public/mix-manifest.json
