html, body {
    background-color: #f5f5f5;
    margin: 0;

    /* Font and Legibility */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
body, #app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.icon-block {
  padding: 0 15px;
}
.icon-block {
    .material-icons {
        font-size: inherit;
    }
}
.material-icons {
    font-size: inherit;
    vertical-align: -0.2rem;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 1%;
    float: none;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}
a.button-collapse.top-nav i {
    font-size: 32px;
}
.footer-copyright {
    .container {
        .love {
            float: right;
        }
    }
}
.input-field {
    [type="checkbox"] + label {
        margin-left: -3px;
    }
}
.card-action {
    .forgot {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 600px) {
    a.button-collapse.top-nav {
        left: 5%;
    }
    .footer-copyright {
        .container {
            .love {
                float: left;
            }
        }
    }
}